.account-page {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 10px;
}

.user-item-image {
    max-width: 90px;
    display: block;
    float: left;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 20px;
    width: 100%;
}

.user-item {
    display: block;
    width: 100%;
    clear: both;
    overflow: auto;
    transition: 0.3s;
    border-radius: 20px;
    margin: 5px 0;
}

.user-item:hover {
    background: #34495e;
    color: white;
}

.item-title {
    cursor: pointer;
    font-weight: 600;
}

.item-info {
    display: block;
    position: relative;
    padding: 5px 0 0 95px;
}

.publish-button {
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    float: right;
    margin-right: 10%;
}

.publish-button:hover{
    background: #2980b9;
}

.separator {
    height: 10px;
    clear: both;
}

.show-hide-button {
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    margin-right: 10px;
}

.show-hide-button:hover{
    background: #2980b9;
}

.user-button{ 
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    /*border-bottom:1px solid #444; */
    cursor: pointer;
    color: cornflowerblue;
    text-decoration: underline;
}

.chat {
    padding: 10px;
    border: solid 2px black;
    border-radius: 20px;
    margin: 5px 0;
}

.last-msg-tarea{
    margin: 0px;
    box-sizing: border-box;
    padding: 10px 10px;
    transition: 0.5s;
    resize: none;
    background: #2980b9;
    color: white;
    width: 100%;
    border-radius: 20px;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    height: 100px;
}

@media screen and (max-width: 671px) {
    .show-hide-button {
        display: block;
        margin: 5px 0;
    }
}
