* {
    
  font-family: "monsterrat", sans-serif;
}

.search-form {
  background-color: #f1f1f1;
  margin-top: -15px;
}

.search-form input[type='text'] {
  border-radius: 20px;
  transition: 0.5s;
  padding: 5px 10px 5px 10px;
  border: 2px solid #34495e;
  margin: 2px 2px 2px 15px;
  outline-style:none;
  width: 110px;
}

.search-form input[type='text']:focus {
  width: 250px;
} 

.search-form button {
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 7px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  outline-style:none;
  margin-left: -25px;
}

.search-form button:hover {
  background: #2980b9;
}

@media screen and (max-width: 500px) {
  .search-form input[type='text']:focus {
    width: 80%;
  }
}