.sign-in-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.sign-in-page h2 {
    margin: 10px 0;
}

.sign-in-input {
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #34495e;
    border-radius: 20px;
    padding: 3px 10px;
    outline-style:none;
    width: 250px;
}

.sign-in-button {
    background: #34495e;
    border: 0px;
    border-radius: 20px;
    padding: 5px 20px;
    outline-style:none;
    transition: 0.5s;
}

.sign-in-button:enabled {
    color: white;
}

.sign-in-button:enabled:hover {
    background: #2980b9;
}