.chat-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.msg {
    padding: 10px;
    border-radius: 20px;
    margin: 2px 0;
}

.new-message-text-area{
    margin: 4px 0 4px;
    box-sizing: border-box;
    padding: 10px 10px;
    transition: 0.5s;
    resize: none;
    background: white;
    border: 2px solid #2980b9;
    width: 100%;
    border-radius: 20px;
    outline-style:none;
    box-shadow:none;
    height: 100px;
}

.send-message-button {
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 8px 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    margin: -4px 0 0;
    float: right;
}

.send-message-button:hover{
    background: #2980b9;
}
