.add-item-page {
    margin: 20px auto;
    max-width: 700px;
    height: auto;
    text-align: center;
}

.item-attribute-section {
    margin: 10px 0;
}

.add-item-page select, .add-item-page input[type='text'], .add-item-page input[type='number'] {
    border-radius: 20px;
    outline-style:none;
    transition: 0.5s;
    border: 2px solid #34495e;
    text-align-last: center;
    width: 250px;
}

.add-item-page select:focus, .add-item-page input[type='text']:focus, .add-item-page input[type='number']:focus {
    border: 2px solid #2980b9;
    transition: 0.5s;
}

.add-item-page label {
    background: #34495e;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: -3px;
    border-radius: 20px;
}

.add-item-page input[type='file']{
    border-radius: 20px;
    outline-style:none;
    transition: 0.5s;
    border: 2px solid #34495e;
    width: 250px;
}

.add-item-page button[type='submit'] {
    background: #34495e;
    border-radius: 20px;
    border: 2px solid #34495e;
    padding: 5px 15px;
}

.add-item-page button[type='submit']:enabled {
    color: white;
}