.profile-page {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 10px;
    transition: 0.5s;
    text-align: center;
}

.info {
    margin: 3px;
    width: 100%;
    display: inline-block;
}

.report-button {
    border: 0;
    background: #96281b;
    color: #fff;
    padding: 7px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    outline-style: none;
}

.report-button:hover {
    background: #c0392b;
}

.report-textarea {
    display: block;
    margin: 5px auto;
    box-sizing: border-box;
    padding: 10px;
    transition: 0.5s;
    border-radius: 20px;
    resize: none;
    border: 2px solid #34495e;
    width: 350px;
    height: 100px;
    outline-style: none;
}

.report-send-button {
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 7px 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    outline-style:none;
}

.report-send-button:hover{
    background: #2980b9;
}

.response-message {
    display: block;
    margin: 3px auto;
    color: #34495e;
}