.centered {
    margin: 20px auto;
    max-width: 700px;
    height: auto;
}

.image-container {
    float: left;
    padding: 0px 40px;
}

#item-details {
    min-width: 200px;
    padding: 0 10px;
}

#previous-image-button {
    position: relative;
    top: -200px;
    max-width: 64px;
    background: rgba(50, 50, 50, 0.3);
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

#next-image-button {
    position: relative;
    top: -200px;
    max-width: 64px;
    right: -57%;
    background: rgba(50, 50, 50, 0.3);
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

.seller-button{ 
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    /*border-bottom:1px solid #444; */
    cursor: pointer;
    color: cornflowerblue;
    text-decoration: underline;
}

.button-item {
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

.button-item:hover{
    background: #2980b9;
}

.message-text-area{
    margin: 4px 0 0 4px;
    box-sizing: border-box;
    padding: 10px 10px;
    transition: 0.5s;
    resize: none;
    background: #6bb9f0;
    width: 300px;
    border-radius: 20px;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    height: 70px;
}

.img-counter{
    color: white;
    width: 100%;
    position: relative;
    display: block;
    text-align: center;
    top: -90px;
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.5),
    1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px 0 rgba(0, 0, 0, 0.5),
    1px 1px 0 rgba(0, 0, 0, 0.5); 
}
