.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
    max-width: 300px;
    width: '100%';
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container {
    padding: 2px 16px;
}
.linkButton {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    /*border-bottom:1px solid #444; */
    cursor: pointer;
}

.clickableAwesomeFont {
    cursor: pointer;
}

.bookmark {
    position: absolute;
    right: 2%;
    top: 2%;
    color:white;
    background: rgba(0, 0, 0, 0.15);
    /*background-image: radial-gradient(rgba(0, 0, 0, 0.2) 5%, rgba(255, 255, 255, 0) 95%);*/
    padding: 5px;
    border-radius: 20px;
    transition: 0.5s;
}

.bookmarked{
    color:rgb(255, 174, 0);
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.10);
    -ms-transform: rotate(216deg);
    -webkit-transform: rotate(216deg);
    transform: rotate(216deg);
}