/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    right: 0%;
    top: 50px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}