.admin-page {
    margin: 20px auto;
    max-width: 600px;
    padding: 0 10px;
}

.admin-page h2 {
    margin-bottom: 10px;
}

.admin-page button {
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    outline-style:none;
    margin-bottom: 10px;
}

.admin-page button:hover {
    background: #2980b9;
}

.reported-user-section {
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border-bottom: #34495e solid 2px;
    border-top: #34495e solid 2px;
}

.report-attribute {
    margin-bottom: 5px;
}

.report-comment {
    width: 100%;
    transform: 0.5s;
    resize: none;
    font-size: 14px;
    height: 60px;
    border: 2px solid #34495e;
    background: #f3f1ef;
    border-radius: 15px;
    padding: 5px;
}