.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header button {
    float: left;
    color: black;
    text-align: center;
    padding: 8px 12px;
    margin: 2px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.5s;
    border: 0px;
    background-color: #f1f1f1;
    outline: none;
  }
  
  .header button.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header button:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header button.active {
    background-color: #34495e;
    color: white;
  }
  
  .header span{
    float: left;
    color: rgb(139, 139, 139);
    text-align: center;
    padding: 14px 12px;
    margin: 2px;
    font-size: 12px;
  }

  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 671px) {
    .header button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
    }
    
    .header-right {
      float: none;
    }
  }